html, body {
    font-family: 'Dosis';
    margin: 0;
    padding: 0;
    text-align: center;
}
div .row {
    margin: 0;
    padding: 0;
}



p {
  text-align: center;
}
.p2 {
    color: darkgray;
    font-family: 'Merriweather Sans', sans-serif;
}

.navbar {
    background-color: #fff;;
    color: darkgray;
    grid-column: 1 / -1;
    display: flex;
    position: fixed;
    max-width: 100vw;
    min-width: 100vw;
    z-index: 100;
    
}
.navbar a{
    color: darkslategrey!important;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.4em;
    font-weight: 800;
    margin-left: 1.5em;
    margin-right: 1em;
}
.navbar a:hover{
    color: #564967 !important;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.4em;
    font-weight: 800;
    margin-left: 1.5em;
    margin-right: 1em;
    text-decoration: none;
}
.logo {
    height: 100px;
    width: 150px;
}
.social {
  font-size: 1em;
  color: darkgray !important;
    margin: 0;
    padding: 0;
}
.social:hover {
  color:#564967 !important;
}

.jumbotron {
    background-image: url(conference.jpg);
    height: 66vh;
    width: 100vw;
    margin-top: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
}
.main {
    align-content: center;
    background-color: #564967;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 2em;
    opacity: 0.9;
    
}

.speak1 {
    margin-top: 8em;
}
.main2 {
    background-color: #564967;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 2em;
    opacity: 0.9;
}
.main h1, h2, p {
    color: #fff;
    font-family: 'Merriweather Sans', sans-serif;
   
}
.headline {
    font-size: 3em;
}
h3, h4, h5 {
    font-family: 'Merriweather Sans', sans-serif;
}
.dark {
    color: #563967;
    font-weight: 700;
}
.info-left {
    background-image: url(woman.jpg);
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    min-height: 25vh;
    width: 100vw;
}

.info-right {
    background-image: url(friends.jpg);
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    min-height: 25vh;
    width: 100vw;
}

.second p {
    color: black;
    font-family: 'Merriweather Sans', sans-serif;
}
.top {
    margin-top: 1em;
}
.third h2, {
    font-family: 'Merriweather Sans', sans-serif;
    margin-top: 4em;
}
.third a {
    color: #563967;
}
.low {
    margin-top: 3.5em;
}
.signup {
    margin: 2em 0;
}
.buffer {
    padding: 0 1em;;
}
.buf {
    margin-top: 0.3em;
}
.text2{
    background-color: #564967;
    min-height: 25vh;
    max-height: 30vh;
}

.third {
    margin: 0;
    padding: 0;
}
.gal {
    max-height: 25vh;
}
.working {
    background-image: url(working.jpg);
    background-size: cover;
    min-height: 40vh;
}
.fourth {
    margin: 0;
    padding: 0;
    background-image: url(sparkle.jpg);
    background-position: center;
    background-size: cover;
    min-height: 66vh;
}
.sched {
    padding-top: 2em;
    color: #563967;
    font-weight: 800;
}
.space {
    margin-top: 3em;
}
.fifth {
    background-image: url(register.jpg);
    background-position: center;
    background-size: cover;
    align-content: center;
    min-height: 66vh;
    opacity: 0.7;
    margin-top: 0;

}
.fifth h1 {
    color: #fff;
    font-family: 'Merriweather Sans', sans-serif;
    text-shadow: 1px 1px grey;
    opacity: 1;
    font-size: 2.5em;
    letter-spacing: 5px;
    padding-top: 0.5em;
}
    
.fifth h2{
    color: #fff;
    font-family: 'Merriweather Sans', sans-serif;
    text-shadow: 1px 1px grey;
    font-size: 1.7em;
    letter-spacing: 2px;
}
.import {
    font-family: 'Pacifico', cursive !important;
    font-style: italic;
    font-size: 3.7em;
    color: #563967;
    letter-spacing: 2px;
}
.cursive {
    font-family: 'Pacifico', cursive !important;
}
.italic {
    font-style: italic;
}
footer {
    margin-top: 30px;
}
.con {
    color: rgb(74,56,87);
    font-weight: 800;
    font-family: 'Merriweather Sans', sans-serif;
}
.con a{
    color: rgb(74,56,87);
}
.container-fluid {
    margin: 0;
    padding: 0;
}

.row {
    margin: 0;
    padding: 0;
}
.col-12 {
    margin:0;
    padding: 0;
    
}

.big {
    font-size: 1.5em;
}
.btn-outline-secondary {
    max-width: 50vw;
    white-space: normal;
}